{% extends 'home.html' %} {% block dashboard %}
<form class="tasks-container">
  <!----------------------------------------------------------------------------------------->
  {% if user.tasks %} {% for task in user.tasks %} {% if task.complete %}
  <div
    class="task"
    id="{{ task.id }}-task"
    data-due="{{ task.due.isoformat() }}"
    data-complete="{{ task.complete }}"
  >
    <div>
      <input
        type="checkbox"
        {%
        if
        task.complete
        %}
        checked
        {%
        endif
        %}
        id=""
        onChange="updateTask({{ task.id }})"
      />
      <div class="task-name">
        <p>{{task.task_name}}</p>
      </div>
    </div>
    <div class="task-details">
      <div class="task-priority {{task.priority}}">{{task.priority}}</div>
      <div class="task-date">
        <i class="fa-regular fa-calendar"></i>
        {{task.due.strftime("%b %d, %Y")}}
      </div>
      <div class="edit-delete-buttons">
        <button type="button">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
        <button type="button" onClick="deleteTask({{ task.id }})">
          <i class="fa-regular fa-trash-can"></i>
        </button>
      </div>
    </div>
  </div>
  {% endif %} {% endfor %} {% endif %}
  <!----------------------------------------------------------------------------------------->
</form>
{% endblock %}
