{% extends 'base.html' %} {% block content %}
<dialog id="add-task-dialog">
  <div>
    <h2>Edit Task</h2>
    <button class="dismiss-btn" id="close-dialog-btn">&times;</button>
  </div>
  <form id="new-task-form" method="POST" action="/add-task">
    <label for="task_name">Task Title</label>
    <input type="text" id="task_name" name="task_name" />
    <label>Due Date</label>
    <input type="date" id="due_date" name="due_date" placeholder="today" />
    <fieldset class="priority-group">
      <legend>Priority</legend>
      <input type="radio" id="low" name="priority" value="low" />
      <label for="low" class="low-p">Low</label>

      <input type="radio" id="medium" name="priority" value="medium" />
      <label for="medium" class="medium-p">Medium</label>

      <input type="radio" id="high" name="priority" value="high" />
      <label for="high" class="high-p">High</label>
    </fieldset>
    <div class="dialog-buttons">
      <button class="purple-button cancel">Cancel</button>
      <button class="purple-button" type="submit" for="new-task-form">
        Save Changes
      </button>
    </div>
  </form>
</dialog>
<div class="home-page">
  <div id="homepage-sidebar">
    <div class="logo container"></div>
    <ul class="categories">
      <h3>Categories</h3>
      <li><a href="/">Today</a></li>
      <li><a href="/all-tasks">All Tasks</a></li>
      <li><a href="/completed-tasks">Completed</a></li>
      <li><a href="/high-priority-tasks">High Priority</a></li>
    </ul>
  </div>
  <div id="main-dashboard" class="main-dashboard">
    {% block dashboard %}
    <header>
      <div>
        <h1>My Dashboard</h1>
        <p>
          Hi, {{user.name}}! You have
          <span id="pending-task-counter"></span> pending task(s)
        </p>
      </div>
      <button class="purple-button" id="add-task-btn">
        <span>&plus;</span> Add new task
      </button>
    </header>
    <div class="progress-container">
      <div class="daily-progress-container round-style">
        <div class="daily-progress-title">
          <h2>Daily progress</h2>
          <div class="icon">
            <i class="fa-solid fa-chart-line"></i>
          </div>
        </div>
        <div class="progress-bar-container">
          <div class="details-container">
            <p>
              <span id="completed-tasks-today"></span> of
              <span id="total-tasks-today"></span> Tasks Completed
            </p>
            <p><span id="percent-complete"></span>%</p>
          </div>
          <div class="progress-bar">
            <div class="progress" id="progress-bar-solid"></div>
          </div>
        </div>
      </div>
      <div
        class="high-priority-progress-container round-style secondary-progress"
      >
        <div class="icon">
          <i class="fa-solid fa-circle-exclamation"></i>
        </div>
        <p id="high-priority-counter">0</p>
        <p>High <br />Priority</p>
      </div>
      <div class="completed-week-container round-style secondary-progress">
        <div class="icon">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p id="completed-counter">0</p>
        <p>
          Completed<br />
          this week
        </p>
      </div>
    </div>
    <div class="today-task-container">
      <h3>Today's Tasks</h3>
      <form class="tasks-container">
        <!----------------------------------------------------------------------------------------->
        {% if user.tasks %} {% for task in user.tasks %} {% if task.is_today %}
        <div
          class="task"
          id="{{ task.id }}-task"
          data-due="{{ task.due.isoformat() }}"
          data-complete="{{ task.complete }}"
        >
          <div>
            <input
              type="checkbox"
              {%
              if
              task.complete
              %}
              checked
              {%
              endif
              %}
              id=""
              onChange="updateTask({{ task.id }})"
            />
            <div class="task-name">
              <p>{{task.task_name}}</p>
            </div>
          </div>
          <div class="task-details">
            <div class="task-priority {{task.priority}}">{{task.priority}}</div>
            <div class="task-date">
              <i class="fa-regular fa-calendar"></i>
              {{task.due.strftime("%b %d, %Y")}}
            </div>
            <div class="edit-delete-buttons">
              <button type="button">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button type="button" onClick="deleteTask({{ task.id }})">
                <i class="fa-regular fa-trash-can"></i>
              </button>
            </div>
          </div>
        </div>
        {% endif %} {% endfor %} {% endif %}
        <!----------------------------------------------------------------------------------------->
      </form>
    </div>
    {% endblock %}
  </div>
</div>
{% endblock %}
